# Common git ignores.
.Desktop.ini
.DS_Store
.idea/
*.iml
*.ipr
*.iws

# Flutter.
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Symbolication and obfuscation.
app.*.symbols
app.*.map.json

# Android.
/android/app/debug
/android/app/profile
/android/app/release

# Swift.
.swiftpm/
